# https://git-scm.com/docs/git-config
[user]
  email = 46844683+ALX99@users.noreply.github.com
  name  = ALX99

[pull]
  rebase = merges

[rebase]
  autoStash = true

[apply]
  whitespace = fix

[status]
  # Display submodule rev change summaries in status
  submoduleSummary = true
  # Recursively traverse untracked directories to display all contents
  showUntrackedFiles = all

; [core]
;   pager = delta

[diff]
  colorMoved = default
  submodule = log

; [interactive]
;   diffFilter = delta --color-only

; [delta]
;   navigate = true  # use n and N to move between diff sections
;   light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
;   line-numbers = true

[alias]
  a = add
  f = fetch --all
  p = pull
  s = status -sb

  # commits
  c   = commit
  cm  = c -m
  ca  = c --amend --no-edit
  cam = c --amend
  ch  = !source ~/dotfiles/shell/.gitalias && gch $1
  cu  = reset --mixed HEAD~1

  # diff
  d  = diff
  d  = diff --stat
  dc = diff --cached

  # branches
  bd = !source ~/dotfiles/shell/.gitalias && gbd $1
  bl = branch
  bc = checkout -b
  bs = !source ~/dotfiles/shell/.gitalias && gbs $1

  # stashes
  sa = stash push
  sp = stash pop

  # misc
  al = "! git config --get-regexp '^alias\\.' | cut -c7-"
  co = checkout
  st = status


  lg      = log --graph --date=relative --pretty=format:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %C(blue)[%an] %C(black)(%ad)%Creset'
  rank    = shortlog -sn --no-merges
  remotes = remote -v
  review  = push origin HEAD:refs/for/master

# Push over SSH instead of HTTPS
[url "ssh://git@github.com/"]
  pushInsteadOf = https://github.com/

