.netrwhist
.config/onedrive/
!.config/onedrive/config
.config/nvim/autoload/
.config/nvim/plugged/

.config/systemd/*
!.config/systemd/userssh-agent.service

.config/fish/fish_variables
.config/fish/conf.d/*
.config/fish/completions/*
.config/fish/functions/_*
.config/fish/functions/fisher.fish
