.netrwhist
.config/onedrive/
!.config/onedrive/config
.config/nvim/autoload/
.config/nvim/plugged/

.config/systemd/*
!.config/systemd/userssh-agent.service


.config/fish/*
!.config/fish/abbr.fish
!.config/fish/setup.fish

