[alias]
    a        = add
    s        = status
    co       = checkout
    cob      = checkout -b
    f        = fetch
    fa       = fetch --all
    c        = commit
    p        = push
    branches = branch -a
    remotes  = remote -v
    d        = diff
    dc       = diff --cached
    bd       = branch -d
    st       = status -sb
    sl       = stash list
    ua       = reset # unstage all
    uf       = reset -- # unstage file
    discard  = checkout --
    oops     = reset --soft HEAD~1
    mu = !git fetch upstream && git merge upstream/master
    #stash = stash save
    #pop = stash pop

    # Feature improving aliases
    publish   = "!git push -u origin $(git branch-name)"
    unpublish = "!git push origin :$(git branch-name)"
    mm        = pull origin master:master
    plog      = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'
    tlog      = log --stat --since='1 Day Ago' --graph --pretty=oneline --abbrev-commit --date=relative
    lg        = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    rank      = shortlog -sn --no-merges
[core]
    whitespace = trailing-space,space-before-tab
[apply]
    whitespace = fix
[pager]
    diff = diff-so-fancy | less --tabs=4 -RFXS --pattern '^(Date|added|deleted|modified): '
[color]
    ui = true
[color "diff-highlight"]
    oldNormal    = red bold
    oldHighlight = red bold 52
    newNormal    = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[diff-so-fancy]
    markEmptyLines = true
[user]
	email = 46844683+ALX99@users.noreply.github.com
	name  = ALX99
