[submodule ".local/bin/adb-uninstall"]
  path = .local/bin/adb-uninstall
  url = https://github.com/alvarobrey/adb-uninstall
  branch = master
[submodule ".config/mpv/scripts/subs2srs"]
	path = .config/mpv/scripts/subs2srs
	url = https://github.com/Ajatt-Tools/mpvacious
[submodule "ghostty-shaders"]
	path = misc/ghostty-shaders
	url = https://github.com/hackr-sh/ghostty-shaders
