.netrwhist
bookmarks
.config/onedrive/
!.config/onedrive/config
.config/nvim/autoload/
.config/nvim/plugged/
.config/fcitx/
!.config/fcitx/config


.config/fish/fish_variables
.config/systemd/user/default.target.wants/ssh-agent.service