[submodule ".config/mpv/scripts/subs2srs"]
	path = .config/mpv/scripts/subs2srs
	url = https://github.com/Ajatt-Tools/mpvacious.git
[submodule "libs/fast-syntax-highlighting"]
	path = libs/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
