configuration {
	modi: "window,drun,run";
	width: 50;
	lines: 4;
	columns: 2;
	font: "mono 12";
	bw: 1;
	location: 0;
	padding: 4;
	show-icons: true;
    icon-theme: "Papirus";
	drun-show-actions: true;
	auto-select: true;
	line-margin: 0;
	line-padding: 1;
	hide-scrollbar: true;
	scrollbar-width: 8;
    disable-history: true;
}
/* vim:ft=css
