#!/bin/sh

xinput set-prop 10 300 1
dunst &
dwmblocks &
setbg &
redshift &
setxkbmap colemak
xmodmap ~/dotfiles/keymaps/xmodColemakCustom
xset r rate 210 30
sxhkd & # Hotkey daemon
updates & # Notification about how many updates there are
