! special
*.foreground:   #8ca68c
*.background:   #131513
*.cursorColor:  #8ca68c

! black
*.color0:       #131513
*.color8:       #687d68

! red
*.color1:       #e6193c
*.color9:       #e6193c

! green
*.color2:       #29a329
*.color10:      #29a329

! yellow
*.color3:       #c3c322
*.color11:      #c3c322

! blue
*.color4:       #3d62f5
*.color12:      #3d62f5

! magenta
*.color5:       #ad2bee
*.color13:      #ad2bee

! cyan
*.color6:       #1999b3
*.color14:      #1999b3

! white
*.color7:       #8ca68c
*.color15:      #f0fff0

*.alpha: 0.92
!*.font:	Liberation Mono:pixelsize=14:antialias=true:autohint=true;

##C7C7C7
##6AAEFF
! Normal bar colour
dwm.normbgcolor: #121013
! Selected bar colour
dwm.selbgcolor: #aa587e
! Font colour
dwm.normfgcolor: #ba4f95
! Selected border colour (also dmenu selected colour)
dwm.selbordercolor: #1c765d
! Normal border colour
dwm.normbordercolor: #45283f
dwm.selfgcolor: #69195f

dwm.borderpx: 3
!dwm.snap:
!dwm.showbar:
!dwm.topbar:
!dwm.nmaster:
!dwm.resizehints:
!dwm.mfact:
