Xcursor.size: 14

! special
*.foreground:   #a6a28c
*.background:   #20201d
*.cursorColor:  #a6a28c

! black
*.color0:       #20201d
*.color8:       #7d7a68

! red
*.color1:       #d73737
*.color9:       #d73737

! green
*.color2:       #60ac39
*.color10:      #60ac39

! yellow
*.color3:       #cfb017
*.color11:      #cfb017

! blue
*.color4:       #6684e1
*.color12:      #6684e1

! magenta
*.color5:       #b854d4
*.color13:      #b854d4

! cyan
*.color6:       #1fad83
*.color14:      #1fad83

! white
*.color7:       #a6a28c
*.color15:      #fefbec

! URXVT stuff
urxvt.depth: 32
URxvt.background: [90]black
urxvt.font: xft:Noto Sans Mono:style=Regular:pixelsize=14, 4xft:FontAwesome5Free:style=Solid:pixelsize=14:antialias=true
urxvt.letterSpace: -1
urxvt.scrollBar:	false
urxvt.cursorColor:	green
urxvt.cursorBlink:	true
urxvt.cursorUnderline:	1
urxvt.url-launcher: 	/usr/bin/chromium
urxvt.perl-ext-common: resize-font,matcher,default
urxvt.matcher.button:	1
urxvt.matcher.rend.0: Uline Bold fg3
urxvt.keysym.C-n: resize-font:bigger
urxvt.keysym.C-e: resize-font:smaller
urxvt.keysym.C-i: resize-font:reset
urxvt*scrollTtyOutput:      false
urxvt*scrollWithBuffer:     true
urxvt*scrollTtyKeypress:    true
